@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base track (almost invisible) */
.slider::-webkit-slider-runnable-track {
  height: 3px;
  background: transparent;
  border-radius: 2px;
}

/* Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #16a34a;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -4px;
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-track {
  height: 3px;
  background: transparent;
}

.slider::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: #16a34a;
  border-radius: 50%;
  border: 2px solid white;
}